.home{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.home-container{
    max-width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-title{
   margin-bottom: 1rem;
}

.home-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: .5rem;
}


